h2{
    font-size: 20px;
}
.navbar-nav{
    a{
        padding-top: 0px;
        color:#393d40;
        font-size:13px;
        &:hover{
            background: none;
            color:#16a085;
        }


    }
}

p
{
    color:#393d40;
}

ul.nav a:hover {
 background: none !important;
}


.navbar-nav {
    width:70%;
    text-align: center;
     li {
      float: none;
      display: inline-block;
    }
  }

input[type="email"]:focus{
    border: 1px solid rgba(81, 203, 238, 1);
}

input[type="email"]{
    border-radius: 0px;
    color:#40d47e;
    font-family: Monaco;
}

input::-webkit-input-placeholder {
    color: #e3e3e3 !important;
}

.navbar{
    border-bottom: 0px solid #e3e3e3;
}

.bg-image{
    margin: 0px;
    padding: 0px;
}

.email-subs{
    background-color: #16a085;
    color:#fff;
    height:450px;
    padding:20px;
    border-right:0px solid #fff;
}

.btn{
    border-radius:0px;
}

.footer
{
    background-color: #2d3033;
    margin-top:20px;
padding:20px;
    p{
        color:#aebdc1;
    }
}

.subscribe-title{
    font-size: 20px;
    color:#ecf0f1;
    padding-top: 10px;
}



